flask == 3.1.1
flask-compress == 1.17
flask-cors == 5.0.1
litecli == 1.15.0
google-cloud-logging == 3.12.1
google-compute-engine == 2.8.13
gunicorn == 23.0.0
protobuf == 6.30.2
requests == 2.32.3
supervisor == 4.2.5
