.results-graph {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  cursor: grab;
}

.results-graph:active {
  cursor: grabbing;
}

.results-graph > div {
  position: relative;
  background: rgba(256, 256, 256, 0.7);
  background-color: #f7fff7;
  border: solid 3px #1a535c;
}

.reset-button {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 80px;
  height: 24px;
}

.links line {
  stroke-opacity: 0.6;
  stroke-width: 1px;
  fill: none;
}

.nodes circle {
  stroke-width: 2px;
  cursor: pointer;
}

.legend-color {
  stroke-width: 2px;
}
