# Only install npm package versions that have aged past this threshold.
min-release-age=2

# Save exact versions of dependencies.
save-exact=true

# Keep package.json engines.node in sync with .nvmrc.
engine-strict=true

# Turn off funding requests.
fund=false
