name: Run Frontend CI on push

on: [push]

permissions:
  contents: read

jobs:
  frontend-ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
      - name: Install dependencies
        run: npm install
        working-directory: website
      - name: Lint
        run: npm run lint
        working-directory: website
      - name: Build
        run: npm run build
        working-directory: website
